@tailwind base;
@tailwind components;
@tailwind utilities;


.banner-bg {
    /* background: linear-gradient(to top, #000000, transparent), linear-gradient(to right, rgb(9, 229, 229, 0.1), rgb(142, 250, 109, 0.1)); */
    background: transparent;
    /* position: absolute; */
}

.btn {
    border-radius: 1px 20px 1px 20px;
    @apply bg-green-600 w-full py-3 font-semibold
}

.btn-two {
    border-radius: 1px 20px 1px 20px;
    @apply bg-green-600 w-full py-2 font-semibold
}

.btn:hover, .btn-two:hover {
    transition: all 50ms ease-in;
    border-radius: 5px;
}


.gradient-text {
    background: linear-gradient(to bottom, #09e5e5, #8efa6d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
    padding: 20px 0;
}